html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



#ipvalcelciusrange{
  transform: rotateZ(270deg);
  width:400px;
  margin-top:250px;
  border-width:0px;
  border:none;
}
.container-bulb {
  margin-left: 624px;
  margin-top: 170px;
}

.circle {
  width: 30px;          
  height: 30px;          
  border-radius: 50%;    
}

